<h1>Home</h1>  
<div class="row">
      
  <div class="col-md-6 new-user-alert">
      <div *ngIf="loginStatus" class="alert alert-success" role="alert">
          <strong>You Loged in Successfully !</strong> You can create a reservation request now 
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/Reservation/addNew']"
              >Book a reservation</a
            >
          </li> 
      </div>  
        
  </div>
</div>